
/* noto serif fonts start */
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  /* font-optical-sizing: auto; */
  
}
/* noto serif fonts end */

/* inter fonts start */
.inter-regular {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  
}

/* inter fonts end */
/* common css start */
body{
  background: #F5F8FF;
}
.fixed-width{
  width: 1140px;
  margin: auto;
}
.primary-color{
    color: #8987A1;
} 
.secondary-color{
  color: #252432;
}
.section-title{
  text-align: center;
  padding: 0px 100px;
}
.section-title h1{
  font-size: 35px;
}
.section-title h1 span{
  color: #E95A08;
}
.section-title p{
  color: #8987A1;
}

/* common css end */
/* nav css start */
.nav-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul {
    display: flex;
    
}
.menu ul li{
  list-style: none;
  padding: 10px 20px;
}
.menu ul li:last-child{
  padding-right: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #8987A1;
  transition: 0.4s;
}
.menu ul li a:hover{
  color: #252432;

}
.active{
  color: #252432!important;
}

/* nav css end */

/* hero area start */
.hero-area{
  display: flex;
  margin: 50px auto;
}
.hero-content{
  width: 50%;
  padding-right: 50px;
}
.hero-content h1{
  font-size: 45px;
}
.hero-content h1 span{
  color: #E95A08;
}
.hero-content p{
  color: #8987A1;
}
.hero-img{
width: 50%;
}
/* hero area end */

/* product area start */

.product-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  
}
.product{
  text-align: center;
}
.product :nth-child(3){
  font-weight: bold;
}
.product a{
  text-decoration: none;
  background: #E95A08;
  display: block;
  padding: 12px;
  color: white;
  text-transform: uppercase;
}
/* product area end */

/* review section start */
.review-area{
  display: flex;
  margin-top: 210px;
  
}
.review-img{
  position: relative;
}
.seller-badge{
  position: absolute;
  right: -100px;
  top: -120px;
}
.seller-badge img{
  height: 250px;
  
  
}
.review-content ul{
  color: #8987A1;
  margin: 0;
  padding: 0 0 0 10px;
}
.review-content ul li{
  padding-top: 20px;
}
.review-content{
  padding: 0px 20px 60px 60px;
}
.review-content h2{
  padding-top: 40px;
  font-size: 45px;
}
/* review section end */

/* deal section start */
.deals-area{
  margin-top: 100px;
}
.deal-thumb{
  display: flex;
}
.deal-left{
  width: 30%;
  padding-top: 50px;
}
.deal-left-1{
  background: url(../assets/deal-bloom.png);
  position: relative;
  border-radius: 10px;
}
.deal-left-1-content a, .deal-left-2-content a{
  color: white;
  font-size: 20px;
}
.deal-left-1-content,.deal-left-2-content{
  position: relative;
  top: 20%;
  padding: 50px 0;
  z-index: 2;
  text-align: center;
  color: white;
}
.deal-left-2{
  margin-top: 20px;
  background: url(../assets/deal-ana.png);
  border-radius: 10px;
  position: relative;
}
.deal-right{
  width: 70%;
  margin: 50px 0 0 50px;
  position: relative;
  border-radius: 10px;
  background-image: url(../assets/deal-zabo.png);
  background-size: cover;
}
.deal-right::after,.deal-left-1::after,.deal-left-2::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  border-radius: 10px;
}
.deal-right-content{
  position: relative;
  z-index: 2;
  color: white;
  top: 35%;
  text-align: center;
}
.deal-right-content h2{
  font-size: 30px;
}
.deal-right-content a{
  color: white;
  font-size: 22px;
}
/* deal section end */

/* newsletter section start */
.newsletter-area{
  background: url(../assets/news-letter-bg.png);
  text-align: center;
  padding: 200px 0;
  margin: 50px 0;
  background-size: cover;
}
.newsletter-area h2{
  font-size: 36px;
  color: white;
  font-family: "Noto Serif", serif;
}
.newsletter-area input{
  padding: 10px 200px 10px 5px;
  border: none;
  
}
.newsletter-area input:focus{
  outline: none;
}
.newsletter-area input[placeholder="Write email"]{
  text-align: left;
  color: #8987A1;
  font-family: "Inter", sans-serif;
}
.newsletter-area button{
  padding: 5px;
  border: none;
  padding: 10px 20px;
  background: #E95A08;
  color: white;
  font-family: "Inter", sans-serif;
  
}
/* newsletter section end */